.btn {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    color: #333;
    background-color: #FFF;
}

.transition {
    width: 50px;
    height: 100px;
    background-color: red;
    transition: 0.5s;
}

.transition:hover {
    width: 300px;
    height: 600px;
}


/* calc */

.div-calc {
    height: 250px;
    width: 500px;
    position: relative;
    margin: 20px;
    background-color: #DDD;
    border: 1px solid red;
}


.innerdiv-calc {
    height: 50px;
    margin: 10px;
    position: relative;
    background-color: red;
}


.calc1 {
    width: calc(50% + 50px);
}

.calc2 {
    width: calc(50% - 50px);
}

.calc3 {
    width: calc(50% * 2);
    margin: 0;
}

.calc4 {
    width: calc(50% / 2);
}


/* Gradiende */

.gradient-box {
    width: 500px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.gradient1 {
    background-image: linear-gradient(purple, blue);
}

.gradient2 {
    background-image: linear-gradient(to right, purple, blue);
}

.gradient3 {
    background-image: linear-gradient(to left, red, yellow);
}

.gradient4 {
    background-image: linear-gradient(to top, red, yellow);
}

.gradient5 {
    background-image: linear-gradient(to top right, grey, magenta);
}

.gradient6 {
    background-image: linear-gradient(red, blue, yellow);
}


.gradient7 {
    background-image: radial-gradient(#3A3042, #DB9D47, red);
}

.gradient8 {
    background-image: radial-gradient(red 10%, blue 30%, green);
}


.gradient9 {
    background-image: radial-gradient(circle, red, blue, green);
}


/* media query */

.mediaquery {
    width: 1200px;
    height: 200px;
    background-color: red;
}

@media (max-width: 1000px) {
    .mediaquery {
        width: 500px;
        background-color: blue;
    }
}

@media (max-width: 768px) {
    .mediaquery {
        width: 400px;
        background-color: green;
    }
}

@media (max-width: 512px) {
    .mediaquery {
        width: 200px;
        background-color: pink;
    }
}

/* border radiu */

.div-border {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 20px;
}

.border-radius1 {
    border-radius: 10px;
}

.border-radius2 {
    border-radius: 50%;
}


.border-radius3 {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
}